footer{
    @include flex-box(row);

    background-image: map-get($footer, bg-img ); 
    background-size: map-get($footer, bg-sz );

    color: white;
    
    height: 50px;
    font-size: 12px;

    margin-top: auto;

    .desafio{
        @include flex-box(row);

        a{
            text-align: center;
        }
    }

    span{
        margin: 5%;
    }

    /* iconos footer */
    .icon-footer{
        @include flex-box(row);
    
        padding: 10px;
        width: 40px;

        &:hover {
            transform: scale(1.15);
        }
    }
}