.header-header{
    @include flex-box(row);
    background-color: $color-menu;

    .btn-toggler-exp{
        @extend .header-header;        
        
        border: none;
        width: 50px;

        .btn-hamburger{
            @extend .header-header;            
            background-color: $color-anclas;
            
            width: 25px;
            height: 3px;
            margin: 5px 0;
        }
    }

    header{
        @extend .header-header;
        
        background-image: map-get($header, bg-img); 
        background-size: map-get($header, bg-sz);
    
        color: $color-texto-menu;
        height: 60px;
        width: $ancho-total;
    
        text-shadow: 0 0 8px $color-anclas;
        font-style: italic;
    }
}