.header-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: $color-menu;

    .btn-toggler-exp{
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: $color-menu;
        border: none;
        width: 50px;

        .btn-hamburger{
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: #fff;
            width: 25px;
            height: 3px;
            margin: 5px 0;
        }
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        background-image: map-get($header, bg-img); 
        background-size: map-get($header, bg-sz);
    
        color: white;
        height: 60px;
        width: 100%;
    
        text-shadow: 0 0 8px white;
        font-style: italic;
    }
}