.botones{
    @include flex-box(row);
    
    button{
        width: 100px;
        margin: 10px 10px 0;
        background-color: $color-menu;
        color: $color-anclas;
        border: 1px solid $color-anclas;

        &:hover{
            background-color: $color-hover-boton;
            color: black;
            border: 1px solid black;
        }
    }
}
.pie-contacto{
    @include flex-box(column);

    width: $ancho-total;
    
    .parrafo-contacto{
        @include flex-box(column);

        margin-top: 15px;
        margin-bottom: 15px;
    }

    .iframe-contacto{
        @include flex-box(column);

        iframe{
            width: 1000px;
            height: 400px;
        }
    }
}