.iframes-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;

        span{
            color: white;
            padding: 0 30px;
        }
    }

    iframe{
        width: 500px;
        height: 300px;    
        padding: 0 30px;
    }
}

@media (max-width:767px){    
    .iframes-index{
        flex-direction: column;

        iframe{
            width: 400px;
            height: 200px;    
        }
    }
}

@media (min-width:768px) and (max-width:1023px){    
    .iframes-index{
        flex-direction: row;

        iframe{
            width: 400px;
            height: 200px;    
        }
    }
}