.iframes-index{
    @include flex-box(row);

    div{
        @include flex-box(column);

        span{
            color: $color-anclas;
            padding: 0 30px;
        }
    }

    iframe{
        width: 500px;
        height: 300px;    
        padding: 5px 30px 10px;
    }
}