.canchas{
    @include flex-box(row);

    .ih-item{
        @include flex-box(row);

        width: 550px;    
        height: 350px;
        background-color: $color-menu;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-width: 2px;
        //border: none;

        margin: 30px 30px 0 30px;
    
        &:hover{
            transform: scale(1.05);
            box-shadow: 6px 6px 3px white;            
        }

        .info{
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            border: 1px solid white;
        }
    }
    
    img{
        @extend .ih-item;

        object-fit: cover;
    }

    p{
        border-bottom: none;
    }
}

.video{
    @include flex-box(row);    

    p{
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
        border-bottom: none;
    }
    
    video{    
        object-fit: cover;

        width: 700px;
        height: 400px;
        border: 2px solid;
        background-color: $color-menu;
    }
}