th, td, tr {
    text-align: center;    
    border: 1px solid #000;
 }

.parrafo-profesores{
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid;
 }

.carousel-inner img{
    height: 240px;
    object-fit: cover;
}