@media (max-width: 400px){    
    .iframes-index{
        @include flex-box(column);

        iframe{
            width: 300px;
            height: 150px;    
        }
    }

    .canchas{
        @include flex-box(column);

        .ih-item{            
            width: 320px;    
            height: 180px;

            .info{
                @include flex-box(column);    

                top:0 !important;
                width: 50% !important;    
                height: 100% !important;

                p{
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .video{
        @include flex-box(column);
        margin-bottom: 10px;
        
        width: 320px;
        height: 220px;

        video{
            width: 320px;
            height: 180px;
        }
    }

    .images-galeria{
        @include flex-box(column);

        .ih-item{
            @include flex-box(column);

            width: 280px;    
            height: 150px;
        }
    }

    table{
        @include flex-box(row);
        
        margin-top: 30px;
        width: 200px;

        font-size: 10px;
    }

    footer{
        .desafio{
            display: none;           
        }

        span{
            display: none;
        }
    }

    input, textarea, .text-white, .btn, .parrafo-contacto{
        font-size: 12px;
    }

    .pie-contacto{
        .iframe-contacto{
            iframe{
                width: 300px;
                height: 200px;
            }
        }
    }
}    

@media (min-width: 401px) and (max-width: 767px){    
    .iframes-index{
        flex-direction: column;

        iframe{
            width: 400px;
            height: 200px;    
        }
    }

    .canchas{
        @include flex-box(column);

        .ih-item{    
            width: 350px;    
            height: 200px;

            .info{
                @include flex-box(column);    

                top:0 !important;
                width: 50% !important;    
                height: 100% !important;

                p{
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    
    .video{
        @include flex-box(column);
        margin-bottom: 10px;
        
        width: 350px;
        height: 250px;

        video{
            width: 350px;
            height: 200px;
        }
    }

    .images-galeria{
        @include flex-box(column);

        .ih-item{
            @include flex-box(column);

            width: 350px;    
            height: 250px;
        }
    }
        
    footer{
        .desafio{
            display: none;           
        }

        span{
            display: none;
        }
    }

    table{
        @include flex-box(row);

        margin-top: 30px;
        width: 300px;

        font-size: 10px;
    }

    .carousel-inner img{
        height: 400px;
        object-fit: cover;
    }

    .pie-contacto{
        .iframe-contacto{
            iframe{
                width: 360px;
                height: 300px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px){    
    .iframes-index{
        @include flex-box(column);    

        iframe{
            width: 600px;
            height: 350px;    
        }
    }

    .canchas{
        .ih-item{    
            width: 320px;    
            height: 200px;

            .info{
                @include flex-box(column);    

                top:0 !important;
                width: 50% !important;    
                height: 100% !important;

                p{
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .images-galeria{
        @include flex-box(column);

        .ih-item{
            @include flex-box(column);

            width: 600px;    
            height: 350px;
        }
    }

    .carousel-inner img{
        height: 500px;
        object-fit: cover;
    }

    .pie-contacto{
        .iframe-contacto{
            iframe{
                width: 650px;
                height: 450px;
            }
        }
    }
}