@media (max-width:767px){    
    .iframes-index{
        flex-direction: column;

        iframe{
            width: 400px;
            height: 200px;    
        }
    }
}

@media (min-width:768px) and (max-width:1023px){    
    .iframes-index{
        flex-direction: row;

        iframe{
            width: 400px;
            height: 200px;    
        }
    }
}