.menu{
    @include flex-box(column);
    justify-content: flex-start;    

    background-color: $color-menu;
    color: $color-texto-menu;

    width: 180px;
    height: 100%;

    .btn-toggler-col{
        @include flex-box(row);
        justify-content: flex-end;
    
        background-color: $color-menu;
        border: none;
        width: 150px;

        .btn-hamburger-expanded{    
            transform: rotate(90deg);
            transition: 0.6s;

            &:hover{
                transform: rotate(0deg);
                transition: 0.3s;
            }            
        }

        .btn-hamburger{
            @include flex-box(row);
            
            background-color: $color-anclas;
            width: 25px;
            height: 3px;
            margin: 5px 0;
        }
    }

    .logo{
        @include flex-box(column);
        
        margin: 0 10px 0 10px;
        padding: 15px;
        width: $ancho-total;
         
        img{
            width: $ancho-total;
            
            &:hover{
                animation-name: animate__animated animate__rubberBand;
                animation-delay: 0.5s;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;                                
            }    
        }
    }

    ul{
        @include flex-box(column);

        width: $ancho-total;

        /* items */
        .item{
            @include flex-box(row);

            padding: 10px 0 10px;  
            border-top: 1px solid $color-anclas;
            width: $ancho-total;            

            a{
                @include flex-box(row);

                width: $ancho-total;

                &:hover{
                    background-color: $color-hover-boton;
                    transition: 0.7s;
                    box-shadow: 0 0 4px $color-anclas;
                    font-weight: bold;
                    color: black;
        
                    width: $ancho-total;
                }

                .icon-menu{
                    @include flex-box(row);
                    
                    font-size: 14px;
                    padding: 8px;
                    width: 40px;                          

                    img{
                        width: $ancho-total;                        

                        &:hover{
                            transition: 0.6s;
                            opacity: 0.9;
                            filter: invert(1) hue-rotate(180deg) contrast(2);
                        }
                    }
                }

                .title{
                    font-size: 14px;    
                    padding: 8px;
                    width: $ancho-total;
                }
            } 
            
            &:hover{
                .rotating-css {
                    animation: rotating 3s linear;
                    animation-iteration-count: infinite;
                }

                .escalar-css {
                    animation: escalar 1.1s linear;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}