$color-menu: rgb(52, 52, 52);
$color-anclas: white;
$color-texto-menu: white;
$color-hover-boton: rgba(222, 159, 58, 0.8);

$header:(
    bg-img: url(../images/background-header.jpg), 
    bg-sz: cover
);

$footer:(
    bg-img: url(../images/background-footer.jpg), 
    bg-sz: cover
);